@model mvc.Models.LoginViewModel
@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scle?1.0">
    <title>Admin Panel Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<div class="row">
    <div class="col-md-4">

        <form asp-action="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h1>Admin Panel Login</h1>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsRememberMe" /> Remember me for 14 days
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}